[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stagedtrees"]
	path = stagedtrees
	url = https://github.com/stagedtrees/stagedtrees
